@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Bai Jamjuree', sans-serif;
	font-size: 18px;
}

header, main {
	text-align: center;
	margin: 32px;
}

.logo-section {
	margin-top: 124px;
}

.logo-section > img {
	width: 128px;
	height: 128px;
}

.header-info {
	margin-top: 75px;
}

.header-info > p {
	margin-top: 25px;
}

.buttons-section {
	margin-top: 50px;
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
}

.buttons-section > button {
	color: #fff;
	font-weight: 600;
	border: none;
	padding: 16px;
	border-radius: 64px;
	min-width: 310px;
}

.ios-btn {
	background-color: hsl(171, 66%, 44%);
}

.mac-btn {
	background-color: hsl(233, 100%, 69%);
}

.desktop-section {
	margin-top: 170px;
	width: 100%;
}

.desktop-section > p {
	margin-top: 32px;
}

.desktop-logo {
	margin-top: 68px;
}

.desktop-tags {
	margin-top: 60px;
	display: flex;
	flex-direction: column;
	gap: 60px;
}

.desktop-tag > p {
	margin-top: 20px;
}

.desktop-logo > img {
	max-width: 100%;
}

.clipboard-section {
	margin-top: 200px;
}

.clipboard-section > p {
	margin-top: 24px;
}

.devices-logo {
	margin-top: 70px;
}

.devices-logo > img {
	max-width: 100%;
}

.logo-text > h1 {
	margin-top: 46px;
	font-size: 125%;
}

.logo-text > p {
	margin-top: 24px;
}

.section-header {
	margin-top: 110px;
}

.section-header > p {
	margin-top: 27px;
}

.section-list-item.top {
	margin-top: 92px;
}

.section-list-item {
	margin-top: 60px;
}

.company-logo-section {
	display: flex;
	flex-direction: column;
	gap: 70px;
	margin-top: 140px;
}

.image-wrapper {
	max-width: 100%;
}

.bottom-hero-section {
	margin-top: 175px;
}

.footer-logo-section {
	width: 60px;
	height: 60px;
}

.footer-logo-section > img {
	max-width: 100%;
}

/* Footer styles */

footer {
	background-color: rgb(248, 248, 248);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer-nav-section > ul {
	list-style: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 15px;
}

.attribution {
	font-size: 11px;
	text-align: center;
}

.attribution a {
	color: hsl(228, 45%, 44%);
}